{% extends "layout.html" %}
{% block body %}
<h2>FAQ</h2>

    <h4 class="question"> What is the max image size that can be uploaded ? </h4>
    <span class="response"> 1 Megabyte </span>
    <p></p>

    <h4 class="question"> What formats does tarple image share support ? </h4>
    <span class="response"> JPEG, PNG, BMP, GIF </span>
    <p></p>

    <h4 class="question"> Can I upload multiple images at once ? </h4>
    <span class="response"> NO </span>
    <p></p>


{% endblock %}
