{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <script type="text/javascript">

        function deleteRecord(file) {
            $.getJSON($SCRIPT_ROOT+'/_delete_entry', {
               fname : file
            }, function(data) {
                if(data.result)
                    location.reload()
            });
        }
        </script>
        <h2>Photo upload</h2>
        <br />
        <em>Support files : jpg, jpe, jpeg, png, gif, svg, bmp</em>

        <form action="{{ url_for('new') }}" method=POST enctype=multipart/form-data>
            <dl>
                <dt>Title
                <dd><input type=text name=title>
                <dt>File
                <dd><input type=file name=photo>
                <dt>Caption
                <dd><textarea name=caption rows=5 cols=40></textarea>
            </dl>
            <p><input type=submit value=Post>
        </form>



        {% endif %}
        <ul class="entries">
            {% for entry in entries %}
            <li>
                <h2> {{ entry.title }} </h2>
                <em class="desc">Description : {{ entry.caption|safe }}</em>
                <br />
                <em class="date">
                    {{ entry.date | timesince }}
                </em>
                <br />
                <em class="file">
                    File Link: <a href="{{ entry.fileabslink }}">{{ entry.title }}</a>
                </em>
                <em><a class="delete" href="#" onclick="deleteRecord('{{ entry.filename }}')">delete</a></em>

            </li>
            {% else %}
                <li><em>Unbelievable. No entries here so far</em></li>
            {% endfor %}
        </ul>
        {% endblock %}