body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1#title {
    text-align: center;
    font-size: 2em;
}

div#nav {
    text-align: right;
    width: 600px;
    margin: auto;
    font-size: smaller;
}

div#body {
    width: 600px;
    margin: 10px auto;
    border: 2px solid #888;
    padding: 10px;
    background-color: white;
    color: black;
}

div#footer {
    text-align: center;
    font-size: 0.9em;
}

div.flashes {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 2px solid #888;
    padding: 10px;
    background-color: #ddd;
}

.byline {
    font-style: italic;
}

a {
    color: #ccc;
}

div#body a {
    color: #333;
}

p.image img {
    max-width: 580px;
}


body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
    margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
    border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }